<a href="https://colab.research.google.com/github/jeffheaton/t81_558_deep_learning/blob/master/assignments/assignment_yourname_class3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# T81-558: Applications of Deep Neural Networks
* Instructor: [Jeff Heaton](https://sites.wustl.edu/jeffheaton/), School of Engineering and Applied Science, [Washington University in St. Louis](https://engineering.wustl.edu/Programs/Pages/default.aspx)
* For more information visit the [class website](https://sites.wustl.edu/jeffheaton/t81-558/).

**Module 3 Assignment: Time Series in Pandas**

**Student Name: Your Name**

# Assignment Instructions

For this assignment, you will use the **series-31** dataset.  This file contains a dataset that I generated explicitly for this semester.  You can find the CSV file on my data site, at this location: [series-31](https://data.heatonresearch.com/data/t81-558/datasets/series-31.csv). Load and summarize the data set.  You will submit this summarized dataset to the **submit** function.  See [Assignment #1](https://github.com/jeffheaton/t81_558_deep_learning/blob/master/assignments/assignment_yourname_class1.ipynb) for details on how to submit an assignment or check that one was submitted.

The RAW datafile looks something like the following:


|time|value|
|----|-----|
|8/22/19 12:51|    19.19535862|
|9/19/19 9:44|13.51954348|
|8/26/19 14:05|9.191413297|
|8/19/19 16:37|18.34659762|
|9/5/19 9:18|1.349778007|
|9/2/19 10:23|8.462216832|
|8/23/19 15:05|17.2471252|
|...|...|

Summarize the dataset as follows:

|date|starting|max|min|ending|
|---|---|---|---|---|
|2019-08-19|17.57352208|18.46883497|17.57352208|18.46883497|
|2019-08-20|19.49660945|19.84883044|19.49660945|19.84883044|
|2019-08-21|20.0339169|20.0339169|19.92099707|19.92099707|
|...|...|...|...|...|

* There should be one row for each unique date in the data set.
* Think of the **value** as a stock price.  You only have values during certain hours and certain days.
* The **date** column is each of the different dates in the file.
* The **starting** column is the first **value** of that date (has the earliest time).
* The **max** column is the maximum **value** for that day.
* The **min** column is the minimum **value** for that day.
* The **ending** column is the final **value** for that day (has the latest time).

You can process the **time** column either as strings or as Python **datetime**.  It may be necessary to use Pandas functions beyond those given in the class lecture.

Your submission triggers this warning due to the method you use to convert the time/date.  Your code is correct, whether you get this warning or not.

# Google CoLab Instructions

If you are using Google CoLab, it will be necessary to mount your GDrive so that you can send your notebook during the submit process. Running the following code will map your GDrive to ```/content/drive```.

In [ ]:
try:
    from google.colab import drive
    drive.mount('/content/drive', force_remount=True)
    COLAB = True
    print("Note: using Google CoLab")
    %tensorflow_version 2.x
except:
    print("Note: not using Google CoLab")
    COLAB = False

# Assignment Submit Function

You will submit the 10 programming assignments electronically.  The following submit function can be used to do this.  My server will perform a basic check of each assignment and let you know if it sees any basic problems. 

**It is unlikely that should need to modify this function.**

In [ ]:
import base64
import os
import numpy as np
import pandas as pd
import requests
import PIL
import PIL.Image
import io

# This function submits an assignment.  You can submit an assignment as much as you like, only the final
# submission counts.  The paramaters are as follows:
# data - List of pandas dataframes or images.
# key - Your student key that was emailed to you.
# no - The assignment class number, should be 1 through 1.
# source_file - The full path to your Python or IPYNB file.  This must have "_class1" as part of its name.  
# .             The number must match your assignment number.  For example "_class2" for class assignment #2.
def submit(data,key,no,source_file=None):
    if source_file is None and '__file__' not in globals(): raise Exception('Must specify a filename when a Jupyter notebook.')
    if source_file is None: source_file = __file__
    suffix = '_class{}'.format(no)
    if suffix not in source_file: raise Exception('{} must be part of the filename.'.format(suffix))
    with open(source_file, "rb") as image_file:
        encoded_python = base64.b64encode(image_file.read()).decode('ascii')
    ext = os.path.splitext(source_file)[-1].lower()
    if ext not in ['.ipynb','.py']: raise Exception("Source file is {} must be .py or .ipynb".format(ext))
    payload = []
    for item in data:
        if type(item) is PIL.Image.Image:
            buffered = BytesIO()
            item.save(buffered, format="PNG")
            payload.append({'PNG':base64.b64encode(buffered.getvalue()).decode('ascii')})
        elif type(item) is pd.core.frame.DataFrame:
            payload.append({'CSV':base64.b64encode(item.to_csv(index=False).encode('ascii')).decode("ascii")})
    r= requests.post("https://api.heatonresearch.com/assignment-submit",
        headers={'x-api-key':key}, json={ 'payload': payload,'assignment': no, 'ext':ext, 'py':encoded_python})
    if r.status_code==200:
        print("Success: {}".format(r.text))
    else: print("Failure: {}".format(r.text))

# Assignment #3 Sample Code

The following code provides a starting point for this assignment.

In [1]:
import os
import pandas as pd
from scipy.stats import zscore

# This is your student key that I emailed to you at the beginnning of the semester.
key = "Gx5en9cEVvaZnjut6vfLm1HG4ZO4PsI32sgldAXj"  # This is an example key and will not work.

# You must also identify your source file.  (modify for your local setup)
# file='/content/drive/My Drive/Colab Notebooks/assignment_yourname_class3.ipynb'  # Google CoLab
# file='C:\\Users\\jeffh\\projects\\t81_558_deep_learning\\assignments\\assignment_yourname_class3.ipynb'  # Windows
file='/Users/jheaton/projects/t81_558_deep_learning/assignments/assignment_yourname_class3.ipynb'  # Mac/Linux

# Begin assignment

df = pd.read_csv("https://data.heatonresearch.com/data/t81-558/datasets/series-31.csv")
df['time'] = pd.to_datetime(df['time'], errors='coerce')

# Your code goes here.


# Submit
#submit(source_file=file,data=[df_submit],key=key,no=3)

In [11]:
df = df.sort_values(by=['time'])
df

                     time      value
13344 2019-08-19 09:00:00  17.573522
7145  2019-08-19 09:01:00  17.575387
5327  2019-08-19 09:02:00  17.577250
8489  2019-08-19 09:03:00  17.579113
2847  2019-08-19 09:04:00  17.580975
...                   ...        ...
10649 2019-09-20 17:55:00  13.331853
4938  2019-09-20 17:56:00  13.333217
13143 2019-09-20 17:57:00  13.334583
1625  2019-09-20 17:58:00  13.335951
2137  2019-09-20 17:59:00  13.337320

[13500 rows x 2 columns]

In [43]:
df_date = (
    df
    .assign(date = lambda x: pd.to_datetime(df['time'].dt.date, format='%Y-%m-%d'))
    .groupby('date')['value']
    .agg(starting = 'first', max = 'max', min = 'min', ending = 'last')
    .reset_index()
)
df_date

         date   starting        max        min     ending
0  2019-08-19  17.573522  18.468835  17.573522  18.468835
1  2019-08-20  19.496609  19.848830  19.496609  19.848830
2  2019-08-21  20.033917  20.033917  19.920997  19.920997
3  2019-08-22  19.393700  19.393700  18.893590  18.893590
4  2019-08-23  17.784213  17.784213  16.974865  16.974865
5  2019-08-26   9.717627   9.717627   8.814028   8.814028
6  2019-08-27   7.630234   7.630234   7.175677   7.175677
7  2019-08-28   6.940731   7.091136   6.940731   7.091136
8  2019-08-29   7.677676   8.150454   7.677676   8.150454
9  2019-08-30   8.989132   9.441207   8.989132   9.441207
10 2019-09-02   8.562631   8.562631   7.862781   7.862781
11 2019-09-03   6.466720   6.466720   5.518901   5.518901
12 2019-09-04   3.806679   3.806679   2.796339   2.796339
13 2019-09-05   1.372897   1.372897   0.803337   0.803337
14 2019-09-06   0.566174   0.975155   0.566174   0.975155
15 2019-09-09  17.609837  20.964092  17.609837  20.964092
16 2019-09-10  26.269719  29.067541  26.269719  29.067541
17 2019-09-11  32.779998  34.399895  32.779998  34.399895
18 2019-09-12  36.168036  36.697054  36.168036  36.697054
19 2019-09-13  36.763634  36.763634  36.347701  36.347701
20 2019-09-16  26.346598  26.346598  24.406477  24.406477
21 2019-09-17  21.203472  21.203472  19.385784  19.385784
22 2019-09-18  16.659006  16.659006  15.288665  15.288665
23 2019-09-19  13.581243  13.581243  12.983163  12.983163
24 2019-09-20  12.838227  13.337320  12.838227  13.337320